<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
  <title>Map viewer</title>

  <link rel="stylesheet" href="https://js.arcgis.com/4.3/esri/css/main.css">
  <script src="https://js.arcgis.com/4.3/"></script>

  <style>
    html,
    body,
    #viewDiv {
       padding: 0;
       margin-top: 20px;
       margin-left: 10px;
       height: 95%;
       width: 90%;
       border-radius: 5px;
    }
    #back {
        padding: 5px;
        background-color: burlywood;
        border-radius: 5px;
        width: 100px;
        top: 0;
        text-align: center;
        font-family: Arial;
    }
    a {text-decoration: none;  color: darkred;}

  </style>

 <script>
    require([
        "esri/Map",
        "esri/views/MapView",
        "esri/widgets/BasemapToggle",
        "esri/widgets/Home",
        "dojo/domReady!"
      ],
      function(Map, MapView, BasemapToggle, Home) {

        var map = new Map({
          basemap: "topo"
        });

        var view = new MapView({
          container: "viewDiv",
          map: map,
          center: [-86.049, 38.485],
          zoom: 3
        });

        var toggle = new BasemapToggle({
          view: view,
          nextBasemap: "hybrid"
        });

        view.ui.add(toggle, "top-right");

        var homeBtn = new Home({
        view: view
        });

        view.ui.add(homeBtn, "top-left");
    });
  </script>
</head>
<body>
<div id="back"><a href="{% url 'home' %}">GO BACK</a></div>
    <div id="viewDiv"></div>
</body>
</html>